@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section.telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 457px;
    width: 227px;
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-size: cover;
}

iframe.tela {
    position: relative;
    left: 16px;
    top: 58px;
    width: 195px;
    height: 344px;
}

section.redes-sociais {
    text-align: right;
}

section > a > img {
    width: 50px;
    height: 50px;
    border-radius: 40px;
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.616);
}

section.redes-sociais img:hover {
    border: 2px solid rgba(255, 255, 255, 0.747);
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.774);
    transition: transform 0.2s, border 0.7s;
}