@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;
}

main {
    height: 100vh;
    position: relative;
}

section.telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    height: 457px;
    width: 227px;
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    background-size: cover;
}

iframe.tela {
    position: relative;
    left: 16px;
    top: 58px;
    width: 195px;
    height: 344px;
}


section > a > img {
    width: 60px;
    height: 60px;
    border-radius: 40px;
    padding: 10px;
}